/* .testdiv{
    background-color: aqua;

} */
.darkcoffee{
    font-size: 120px;
    font-family: 'Cormorant Garamond', serif; 
    font-weight: bold;
    color: rgb(0, 11, 44);
    font-style: italic;
    
}
.drak-coffee-backgroundimg{
    background-image: url(./images/backgroundshape\ 1\ .png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 50vw 100vh;
    
}
.m-top-img{
    margin-top: 220px;
}
.m-top-title{
    margin-top: 150px;
}
.m-top-text{
    margin-top: 90px;
}
.spacer-2{
    height: 500px;
}
.z-circle{
    z-index: 1 !important;
}

.text-wrap{
    /* background-color: aliceblue; */
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
    float: left;

shape-outside: circle(307px at -272px 150px);
}