

.drak-coffee-backgroundimg {
    background-image: url(./images/backgroundshape\ 1\ .png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 832px;

}
.cold-coffee-backgroundimg {
    background-image: url(./images/background\ design\ 2.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 800px;

}
.hot-coffee-backgroundimg {
    background-image: url(./images/backgroundshape\ 3.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 855px;

}

.m-top-img {
    margin-top: 140px;
}


.spacer-2 {
    height: 209px;
}

@media only screen and (max-width:1200px) {
    .drak-coffee-backgroundimg {
        background-color: #122341;
        background-image: none;

    }
    .hot-coffee-backgroundimg {
        background-color: #122341;
        background-image: none;

    }
    .m-top-img {
        margin-top: 0px;
    }

    .darkcoffee {
        color: white;
    }

    .remove-pe {
        padding-right: 0 !important;
    }

    .center-col {
        justify-content: center !important;
    }
    .spacer-2{
        background-color: #24406fa6;
        height: 5px;
    }


}