.page-title{
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px; 
  
}
.bgc{
    background-color: rgb(18, 35, 65) ;

}
.img-height{
    height:500
}
@media only screen and (max-width:992pc) {
    .img-height{
        height:300
    }   
    
}
